@import url('https://fonts.googleapis.com/css2?family=Anton&family=Babylonica&family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,700&family=Calligraffitti&family=Cinzel&family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Fauna+One&family=Henny+Penny&family=Lato:wght@100;300;400&family=League+Spartan:wght@200;300;400;500&family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@100;200;300;400&family=Nunito:wght@200;400&family=Poppins:wght@100;200;300&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
 
  --clr-primary-1: #f5f3e7;
  --clr-primary-2: #343a40;
  --clr-primary-3: #545454;
  --clr-primary-4: #dee2e6;
  --clr-primary-8: #D6A6AD;
  --clr-primary-hover:#0056b3;
  --clr-primary-10: #F7F4F8 ;
    --clr-primary-11: #BFE2E6;
  --clr-body: #12121C;
  --clr-white: #fff;
  
  --clr-black: #222;
    --primary-font1: 'Lato', sans-serif;
  --primary-font2: 'Merriweather', serif;
  --primary-font3: 'Montserrat' sans-serif;
  --primary-font4: 'Oswald', sans-serif;
  --primary-font5: 'Playfair Display', serif;
  --primary-font6: 'Raleway', sans-serif;
  --primary-font7: 'Rubik Microbe', cursive;
  --primary-font8: 'Rubik Moonrocks', cursive;
  --primary-font9: 'Anton', sans-serif;
  --primary-font10: 'Babylonica', cursive;
  --primary-font11: 'Bodoni Moda', serif;
  --primary-font12:  'Calligraffitti', cursive;
  --primary-font13: 'EB Garamond', serif;
  --primary-font14:'Henny Penny', cursive;
  --primary-font15:'League Spartan', sans-serif;
  --primary-font16:'Libre Baskerville', serif;
  --primary-font17:'Nunito', sans-serif;
  --primary-font18:'Poppins', sans-serif;
  --primary-font19: 'Cinzel', serif;
  --primary-font20: 'Fauna One', serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  
}



body {
  background: var(--clr-white);
  color: var(--clr-black);
  transition: var(--darkModeTransition);
  font-family: var(--primary-font1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section-center {
  width: 90vw;
  margin: 1rem auto;
  max-width: var(--max-width);

}
.nav-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);

}

.title h3{
  text-transform:uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-white);
}
.underline{
  width: 10rem;
  height: 1rem;
  background: var(--clr-primary-8);
  margin: 0 auto;
}
/* Navbar */
.nav-center {
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  background-color: white; 
  transition: box-shadow 0.3s; 
  
}


.nav-center.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu-icons button {
  background-color: transparent;
  border-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: transparent;
}

.nav-links {
  display: none; 
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links.show {
  display: flex; 
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
  position: relative;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  padding: 0.5rem 1rem;
  display: block;
  transition: color 0.3s, background-color 0.3s;
  margin: 0;
}

.nav-link:hover .dropdown,
.nav-link .dropdown {
  display: block;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown {
  display: none;
  padding-left: 20px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 10%;
  width: 200px;
  z-index: 10;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}

.dropdown-item a {
  text-decoration: none;
  color: #333;
  display: block;
}

.dropdown-item a:hover {
  background-color: rgba(100, 100, 255, 0.1);
  color: #111;
}

@media (min-width: 992px) {
  .nav-links {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    position: static;
  }

  .nav-link {
    position: relative;
  }

  .menu-icons {
    display: none;
  }

  .dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 10%;
    width: 200px;
    z-index: 100;
  }

  .nav-link:hover .dropdown {
    display: block;
  }
}

.nav-header {
  align-items: baseline;
}

.nav-button {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.cart-button{
  border-color: transparent;
  background-color: transparent;
}
/* Hero */
.hero-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
}

.circle-background {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  border-radius: 50%;
  animation: moveLeftRight 6s infinite ease-in-out;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
}

.hero-image {
  width: 500px;
  height: 700px;
  border-radius: 10px;
  transition: transform 1s ease-in-out;
  object-fit:contain;
}

.hero-details {
  margin-top: 20px;
}

.hero-details h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-details p {
  font-size: 1.2rem;
  color: #333;
}

.hero-details .btn,.hero-text .btn {
  padding: 10px 20px;
  background-color:var(--clr-primary-8);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
  100% {
    transform: translateX(-100px);
  }
}
.hero-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px 0;
  
}

.icon-box {
  text-align: center;
}

.icon {
  font-size: 2rem;
  color: var(--clr-primary-11); /* Customize the icon color */
  margin-bottom: 10px;
}

.icon-box p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}


/* HeroTwo */
.hero-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}



.hero-image-background {
  background-color: #f0f0f0; /* Background color behind image */
  border-radius: 50%; /* Rounded background behind image */
  padding: 2rem; /* Adjust the padding to make the background larger than the image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-background img {
  width: 100%;
  height:100%;
  border-radius: 50%; /* Optional: if you want a circular image */
  object-fit: contain;
}
.hero-image-background h1{
  color: var(--clr-primary-8);
  font-weight: bold;
}
@media (min-width:992px) {
  .hero-image-background img {
  height:700px;}
}
.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: var(--clr-black);
}


@media (min-width:992px) {
  .hero-text {
  flex: 1;
  max-width: 50%;
}

.hero-image-container {
  flex: 1;
  max-width: 30%;
  position: relative;
}
.hero-two{
  margin-left: 10rem;
}
}
/* Products */
.carousel {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-items {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth sliding */
}

.carousel-items-products {
  text-align: center;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition: var(--transition);
}

.carousel-items-products img {
  width: 100%;
  height: auto;
  border-top-left-radius: 50px; /* Negative effect, can adjust to your liking */
  border-top-right-radius: 0; /* Keep right corner square */
  transition: border-radius 0.3s ease; /* Smooth transition for border radius */
}

.carousel-items-products:hover img {
  border-top-left-radius: 0; /* Make top-left corner square on hover */
  border-top-right-radius: 0; /* Ensure right corner stays square */
}

.carousel h3 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.carousel p {
  font-size: 1rem;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* Responsive styling for carousel items */
@media screen and (min-width: 992px) {
  .carousel-item {
    min-width: 25%; /* 4 items on large screens */
  }
  .carousel{
    margin-top: -15rem;
  }
}
@media screen and (max-width: 991px) {
  .carousel-item {
    min-width: 100%; /* 1 item on mobile screens */
  }
}
/* Uniques */
.unique-container {
  padding: 5rem;
}

.unique-big-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.unique-product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-color: var(--clr-primary-11);
  transition: all 0.3s ease-in-out; 
}

.image-container {
  position: relative;
  width: 100%;
}
.image-container:hover .unique-product-img {
  background-color: rgba(0, 0, 0, 0.1); 
  border-top-left-radius: 80px; 
}


.image-container:hover {
  border-top-left-radius: 50px; 
}

.prev, .next {
  display: none;
}

@media (min-width: 992px) {
  .prev, .next {
    display: block;
  }

  .unique-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  .unique-products {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

  .prev:disabled, .next:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.contact-section {
  text-align: center; 
  margin: 20px 0; 
}

.contact-section h2 {
  font-size: 2rem; /* Font size for the heading */
  margin-bottom: 10px; /* Space below the heading */
}

.contact-section p {
  font-size: 1.2rem; /* Font size for the paragraph */
  color: #555; /* Darker color for readability */
}
/* Testimonial */
.testimonial-container {
  position: relative;
  width: 100%;
  overflow: hidden; 
}
/* Testimonial */
.testimonial-slider {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.testimonial-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; 
}

.client-image {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
 
 
}

.testimonial-title {
  font-size: 1.5rem; /* Title size */
  margin: 10px 0; /* Margin around title */
}

.rating {
  font-size: 1.25rem; /* Rating size */
  color: gold; /* Gold color for stars */
}

.testimonial-description {
  font-size: 1rem; /* Description size */
  margin: 10px 0; /* Margin around description */
}

.client-name {
  font-size: 1rem; /* Client name size */
  font-weight: bold; /* Bold for client name */
  margin-top: 5px; /* Space above client name */
}

.client-role {
  font-size: 0.9rem; /* Role size */
  color: #777; /* Grey color for role */
  margin-top: 5px; /* Space above role */
}

.dots-container {
  display: flex;
  justify-content: center; /* Center dots */
  margin-top: 10px; /* Space above dots */
}

.dot {
  height: 10px; /* Dot height */
  width: 10px; /* Dot width */
  margin: 0 5px; /* Space between dots */
  background-color: lightgray; /* Inactive dot color */
  border-radius: 50%; /* Circular dots */
  display: inline-block; /* Inline block for spacing */
  cursor: pointer; /* Pointer on hover */
}

.dot.active {
  background-color: gray; /* Active dot color */
}

/* Media Queries */
@media (max-width: 768px) {
  .testimonial-slider {
    width: 100%; /* Full width of the container */
  }

  .testimonial-item {
    flex: 0 0 100%; /* Full width on mobile */
  }
}

@media (min-width: 769px) {
  .testimonial-slider {
    width: 100%; /* Full width of the container */
  }

  .testimonial-item {
    flex: 0 0 33.33%; /* Three items on large screens */
  }
  .clients{
    margin-left: 10rem;
  }
}

/* Shop */
.bg-shop{
  background-color: #BEE1E6;
  padding: 1rem;
 
}
.bg-shop a{
   color: var(--clr-black);
text-decoration: none;
font-size: 1.5rem;
}
.grid-one,.inStock-bg{
  background-color:#BEE1E6 ;
  border-color: transparent;
  padding: 0.5rem;

}
.grid-two,.outStock-bg{
  background-color:#D6A6AD ;
  border-color: transparent;
  padding: 0.5rem;
  
}
.product-item img{
  width: 100%;
}
@media (min-width:992px) {
  .product-list {
  display: grid;
  gap: 20px; /* Space between items */
}

.grid-2-row {
  grid-template-columns: repeat(3, 1fr); /* 3 items per row */
}

.grid-3-row {
  grid-template-columns: repeat(2, 1fr); /* 2 items per row */
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.container-shop-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}
/* Loading and Message */
/* CSS (optional) */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  flex-direction: column;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 4px solid #3498db; /* Blue spinner */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Spinning animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.message {
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  text-align: center;
}

.message.info {
  background-color: #d9edf7;
  color: #31708f;
}

.message.success {
  background-color: #dff0d8;
  color: #3c763d;
}

.message.error {
  background-color: #f2dede;
  color: #a94442;
}


/* homeProduct  */
.home-product {
 margin-top: -15rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  flex: 0 0 100%; 
  max-width: 100%;

}

@media (min-width: 600px) {
  .product-card {
    flex: 0 0 50%; 
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .product-card {
    flex: 0 0 25%; 
    max-width: 25%;
  }
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.pagination-item {
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ddd;
  color: var(--clr-black);
  text-decoration: none;
  cursor: pointer;
}

.pagination-item.active {
  background-color: var(--clr-primary-8);
  color: #fff;
}

.pagination-item:hover {
  background-color:var(--clr-primary-hover);
}
/* Rating */
.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}
.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}
/* LastProduct */
.lastProducts-home-projects {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.lastProducts-title-home {
  text-align: center;
}

.lastProducts-title-home h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lastProducts-title-home h2 img {
  margin-right: 10px;
}

h3 {
  text-align: center;
  margin-top: 1rem;
}

.lastProducts-slider-gallery-home-projects {
  position: relative;
}

.lastProducts-project-slide {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.lastProducts-project {
  position: relative;
  width: 30%;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.lastProducts-project:hover {
  transform: scale(1.05);
}

.lastProducts-project-image {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.lastProducts-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.lastProducts-open-gallery-btn {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

.lastProducts-project-info {
  padding: 1rem;
  text-align: center;
}

.lastProducts-explore-btn {
  background-color: var(--clr-primary-8);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.lastProducts-explore-btn:hover {
  background-color:var(--clr-black);
}

.lastProducts-project-indicators {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.lastProducts-indicator {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
  transition: background-color 0.3s;
}

.lastProducts-indicator.active {
  background-color: #007bff;
}

.lastProducts-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.lastProducts-close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.lastProducts-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
}

.lastProducts-modal-image {
  width: 100%;
  height: auto;
}

.lastProducts-modal-buttons {
  margin-top: 20px;
}

.lastProducts-prev-btn,
.lastProducts-next-btn {
  background-color: var(--clr-primary-8);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.lastProducts-prev-btn:hover,
.lastProducts-next-btn:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .lastProducts-project-slide {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image */
  }

  .lastProducts-project {
    width: 100%; /* Full width on mobile */
    margin: 0; /* Remove margin */
  }
}
@media (min-width:992px) {
  .lastProducts-home-projects{
    margin-left: 10rem;
  }
}
/* ProductScreen */
.product-screen{
  position: relative;
}
.product-screen-bg {
  background-color: var(--clr-primary-11);
  padding: 2rem;
}


.product-screen-bg span {
  margin-left: 1rem;
}


.product-screen-container {
  margin-top: 5rem;
}


.main-image {
  width: 100%;
}


.thumbnail {
  width: 150px;
  margin-right: 10px;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease;
}

.thumbnail:hover {
  border-color: var(--clr-primary-8);
}

.thumbnail-active {
  border-color: #e928a0;
  height: 150px; 
}


.product-screen-context {
  padding: 1rem; 
}


.info-section h3 {
  font-size: 1.5rem; 
}

.info-section p {
  margin: 0.5rem 0; 
}


.cart-section {
  margin-top: 1rem; 
}

.cart-section strong {
  display: inline-block; 
}


.product-screen-tab {
  margin-top: 5rem; 
}

.product-screen-tab button {
  margin-right: 10px; 
  padding: 10px 15px; 
  border: none;
  background-color: var(--clr-primary-7); 
  color: var(--clr-black); 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.product-screen-tab button:hover {
  background-color: var(--clr-primary-8); 
}


.tab-content {
  margin-top: 1rem;
}

table {
  width: 100%; 
  border-collapse: collapse; 
  margin-top: 1rem; 
}

th, td {
  border: 1px solid #ddd; 
  text-align: center; 
  padding: 8px; 
}

th {
  background-color: var(--clr-primary-11); 
  color: var(--clr-black); 
}


@media (min-width: 992px) {
  .product-screen-container {
    display: flex; 
    justify-content: space-between; 
    gap: 5rem; 
  }

  .image-section {
    flex: 2; 
  }

  .product-screen-context {
    flex: 1; 
    margin-right: 5rem; 
  }
}


.faq-list {
  margin-top: 1rem; 
}

.faq-list h4 {
  margin-bottom: 0.5rem; 
}
.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem; 
  padding: 0.5rem;
  margin:1rem; 
  background-color:var(--clr-primary-8);
  cursor: pointer;
  transition: var(--transition);
}
.quantity-button:hover{
  background-color: var(--clr-primary-11);
}

.quantity-input {
  width: 40px; 
  text-align: center;
  font-size: 1rem; 
  border: 1px solid #ccc; 
  border-radius: 4px; /* Add border radius for a rounded look */
  padding: 0.25rem; /* Padding inside the input */
  
}
.add-to-cart-btn {
  background-color: var(--clr-primary-8); /* Green background color */
  color: white; /* White text color */
  border: none; /* No border */
  border-radius: 4px; /* Rounded corners */
  padding: 10px 20px; /* Padding for top/bottom and left/right */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Smooth transition for hover effects */
  margin: 1rem;
}

.add-to-cart-btn:hover {
  background-color:var(--clr-primary-11); 
  transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.add-to-cart-btn:disabled {
  background-color: #ccc; /* Light gray when disabled */
  cursor: not-allowed; /* Change cursor when disabled */
}
/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 500px;
  width: 100%;
  z-index: 1001;
}
.modal-close {
  position: absolute;
  top: 35px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  z-index: 10;
}
.modal-close:focus {
  outline: none;
}
.modal-close:hover {
  color: red;
}

/* CartScreen */
.cart-screen {
  position: relative;
  min-height: 100vh;
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Allow vertical scrolling */
}

.cart-title {
  font-size: 2rem;
  margin-bottom: 20px; 
  text-align: center; 
}

.cart-items-container {
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
}

.cart-item {
  display: flex; 
  margin: 1rem;
  align-items: center; 
  background-color: #fff; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  width: 100px; 
  height: auto;
  margin-right: 20px; 
}

.cart-item-name {
  flex-grow: 1;
  color: #333; 
  text-decoration: none; 
  font-weight: bold; 
}

.cart-item-price {
  font-size: 1.2rem; 
  color: #007bff; 
  margin-right: 20px; 
}

.quantity-controls {
  display: flex; 
  align-items: center; 
}

.cart-item-remove {
  background: none; 
  border: none; 
  color: #e74c3c; 
  cursor: pointer; 
  font-size: 1.5rem; 
}

.cart-summary {
  margin-top: 20px; 
  padding: 15px; 
  background-color: #fff; 
  border-radius: 8px; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
}

.cart-total {
  font-size: 1.5rem; 
  font-weight: bold; 
  margin: 10px 0; 
}

.checkout-button {
  width: 100%; 
  padding: 10px; 
  background-color: #28a745; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  font-size: 1.2rem;
  cursor: pointer; 
  transition: background-color 0.3s;
}

.checkout-button:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}

.checkout-button:hover:not(:disabled) {
  background-color: #218838; 
}

.buttons-carts {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .cart-title {
    font-size: 1.5rem; /* Adjust font size for mobile */
  }

  .cart-item {
    flex-direction: column; /* Stack item details vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .cart-item-name {
    margin-bottom: 10px; /* Space between name and price */
  }

  .quantity-controls {
    margin-top: 10px; /* Space above quantity controls */
  }
}

.shopping-cart-item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
}
.shopping-cart-item-image{
  width: 200px;
}
/* LoginScreen */
.login-screen {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #218838;
}

.links {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  margin-top: 10px;
}

.return-to-store {
  margin-top: 20px;
  text-align: center;
}
